.calculator {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  label, input, button {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #166ccf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3b0ed1;
  }
  
  .result {
    margin-top: 20px;
    border: 2px solid #1cb2db;
    padding: 10px;
    border-radius: 5px;
    background-color: #e6e5f5;
    color: #0d53d3;
    font-weight: bold;
  }
  